.meal-time{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
}
.meal-time h6{
    margin-left: 24px;
}
.meal-time h6:hover{
    cursor: pointer;
    color: red;
}
.meal-time Link{
    text-decoration: none;
    color: black;
}